#presentation{
    margin-top: 105px;
}

.photo{
    border-radius: 25%;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.intro{
    display: flex;
    flex-direction: row;
    background-color: #242f42;
    place-items: center;
}

.textpresentation{
    font-family: poppins;
    font-weight: 500;
    font-size: 14px;
    margin : 10px 10px;
    color: white;
    text-align: center;
}

.hi{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 5px;
    font-family: poppins;

}

.name{
    font-weight: 700;
    font-size: 30px;
    color: #fe792f;
    font-family: poppins;

}

.work{
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 50px;
    font-family: poppins;

}

.txt1{
    padding: 0px 75px 100px 75px;
    text-align: justify;
    font-weight: 00;
    font-size: 16px;
    font-family: poppins;
}

@media screen and (max-width: 1000px) {
    .txt1{
        padding: 0px 25px 100px 25px;
    }
}

@media screen and (max-width: 767px) {
    .intro{
        flex-direction: column;
        align-items: center;
    }

    .photo{
        border-radius: 25%;
        width: 150px;
        height: 150px;
        align-items: center;
        margin: 0;
        padding-bottom: 20px;
    }

    .txt1{
        padding: 0px 25px 30px 25px;
    }

    .work{
        padding-bottom: 30px;
    }

    .textpresentation{
        margin : 0px;
    }
}




