.section-comp-title{

    background-color: #242f42;

    font-family: montserrat;
    font-weight: 700;
    font-size: 24px;
    color: #fe792f;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: center;

    padding: 0px 0px 50px 0px;

}


.container-compétences{
    background-color: #242f42;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: auto;
    padding: 0px 150px;
}


.web-skills{
    background-color: #404040;
    padding: 30px 40px 40px 50px;
    border-radius: 1.25rem;
    margin-bottom: 50px;
    color: white;

    display: flex;
    flex-direction: column;
}

.web-skills-title{
    font-family: montserrat;
    font-weight: 600;
    font-size: 20px;
    margin : 0;
    color: white;
    padding-bottom: 1.2em;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.skill:hover{
        transform: scale(1.1);
}

.skills2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logo-techno{
    width:70px;
    height: 70px;   
}

.techno-info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.techno-info2{
    padding-right: 20px;
}

.skill-title{
    margin-bottom: 5px;
    text-align: left;
    margin-top: 0px;
}

.skills-duo{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
}

.level{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.line{
    border-left: 3px solid #fe792f;
    display: inline-block;
    height: 450px;
    border-radius: 3px;
    rotate: 90deg;
    display: none;
}

.digital-skills{
    background-color: #404040;
    padding: 40px;
    border-radius: 1.25rem;
    margin-bottom: 50px;
    color: white;

}

.newlearn{
    background-color: #242f42;
    font-family: montserrat;
    font-weight: 500;
    font-size: 14px;
    color: white;
    align-items: center;
    padding: 0px 0px 100px 0px;
    font-weight: bold;
    margin-bottom: 0;

    text-align: center;
}

.stars{
    transition: transform .1s;
}

.stars:hover{
    transform: scale(1.25);
}

.star{
    width: 15px;

}

@media screen and (max-width: 1200px) {

    .container-compétences{
        padding: 0px 100px;
    }

    .web-skills-title{
        padding-bottom: 15px;
    }

    .logo-techno{
        width: 50px;
        height: 50px;   
    }

    .techno-info{
        padding-left: 15px;
    }

    .skill-title{
        font-size: 14px;
    }

    .skills{
        justify-content: space-around;
    }

    .level{
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .web-skills{
        padding: 20px 10px 20px 10px;
    }

    .web-skills-title{
        font-size: 16px;
    }

    .logo-techno{
        width: 40px;
        height: 40px;   
    }

    .star{
        width: 10px;
    
    }

    .techno-info{
        padding-left: 10px;
    }
   
    .digital-skills{
        padding: 20px 10px 20px 10px;
    }

    .newlearn{
        padding: 0px 100px 100px 100px;
    }
}

@media screen and (max-width: 767px) {

    .container-compétences{
        padding: 0px 50px;
    }

    .web-skills{
        margin-bottom: 30px;
    }

    .digital-skills{
        margin-bottom: 30px;
    }

    .skill{
        padding-bottom: 15px;
        justify-content: center;
    }

    .skills-duo{
        display: flex;
        flex-direction: column;
    }

    .newlearn{
        padding: 0px 50px 50px 50px;
    }

    .section-comp-title{
        padding: 0px 0px 30px 0px;
    }
}

@media screen and (max-width: 420px) {

    .logo-techno{
        width: 25px;
        height: 25px;   
    }

    .container-compétences{
        padding: 0px 25px;
    }

    .skill-title{
        font-size: 12px;
    }

    .level{
        font-size: 10px;
    }

   
}