.footer {
    display: flex;
    flex-flow: column wrap;
    color: #fff;
    background-color: #242f42;
    padding-left: 10px;
    border-top: 1px solid #e5e5e5;
}

.footer-info{
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: space-evenly;
}

.logoandaddress{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logof{
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}

.footer__addr h2{
    padding-bottom: 15px;
    text-align: center;

}

.footer__addr{
    margin-top: 100px;
}

.footer address {
    font-style: normal;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
  
.footer__btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: roboto;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #242f42;
    padding: 10px 42px;
    border: solid white 2px;
    box-shadow: none;
    border-radius: 25px;
    text-decoration: none;

    transition : 1000ms;
    transform: translateY(0);
   
    cursor: pointer;
}

.footer__btn:hover{
    transition : 1000ms;
    padding: 10px 40px;
    transform : translateY(-0px);
    background-color: white;
    color: #242f42;
    border: solid 2px #242f42;
    }

.follow h2{
    padding-bottom: 20px;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social{
    width: 50px;
    height: 50px;
}

.copysmall{
    display: none;
    margin-top: 0px;

}

@media screen and (max-width: 767px) {

    .logoandaddress{
        padding:0 0 20px 50px;
    }

    .follow {
    padding-right: 50px;
    }

}

@media screen and (max-width: 650px) {

    .footer {
        align-items: center;
    }

    .footer__addr{
        margin: 0;
        display: none;
    }

    .logof{
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Définit un espacement précis entre les sections */
    }

    .logoandaddress {
        margin: 0;
        padding: 0 0 20px 0;
    }

    .follow {
        margin: 0;
        padding: 0; /* Réinitialise tout espacement vertical */
    }

    .copysmall{
        display: block;
        margin-top: 20px;
    }
}


