.contactme{
    background-color: #242f42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px 0 50px;
    
}

.txt-contact{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: roboto;
    flex-wrap: wrap;
}


.form-contact{
    background-color: #404040;
    padding: 50px;
    border-radius: 1.25rem;
    color: white;
    width: auto;
    align-items: center;
    margin-bottom: 50px;
    font-family: roboto;

    display: flex;
    flex-direction: column;

} 

.form-nom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
}

.form-mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
}

.form-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
}

.form-label {
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
}

.form-input {
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: roboto;
    font-size: 16px;
    font-weight: 600;
}

.form-txtarea{
    width: 95%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: roboto;
    font-size: 16px;
    font-weight: 600;

}

.form-btn{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-family: roboto;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #242f42;
    padding: 10px 42px;
    border: solid white 2px;
    box-shadow: none;
    border-radius: 25px;
    
    transition : 1000ms;
    transform: translateY(0);
       
    cursor: pointer;
}
    
.form-btn:hover{

    transition : 1000ms;
    padding: 10px 40px;
    transform : translateY(-0px);
    background-color: white;
    color: #242f42;
    border: solid 2px #242f42;
}

@media screen and (max-width: 600px) {

    .form-contact{
        padding: 0px 25px 25px 25px;
        margin-bottom: 30px;
    }

   .form-input{
        height: 40px;
   }

   .form-txtarea{
        height: 120px;
    }
    .txt-contact{
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {

   .form-input{
        width: 90%;
        height: 30px;
        font-size: 12px;
   }

   .form-txtarea{
        width: 90%;
        height: 90px;
        font-size: 12px;
   }
}

@media screen and (max-width: 370px) {

    .contactme{
        padding: 0px 25px 0px 25px;
    }

   .form-input{
        height: 25px;
   }

   .form-txtarea{
        height: 75px;
    }

}